<ion-toolbar>
  <div class="ion-text-center">
  <ion-buttons style="color:#1EEB00" slot="start">
    <ion-back-button icon="chevron-back-outline" [defaultHref]="getBackRoute()"></ion-back-button>
  </ion-buttons>
  <ion-title class="toolbar-title">{{ pages[currentStep].title }}</ion-title>
</div>
  <div>
    <div class="progress-container">
      <ng-container *ngFor="let page of pages; let i = index">
        <div class="circle-container" [class.filled]="i <= currentStep">
          <div class="progress-circle"></div>
        </div>
        <div class="progress-line" *ngIf="i < pages.length - 1"></div>
      </ng-container>
    </div>
  </div>
</ion-toolbar>
