
<app-toolbar
[currentStep]="currentNumber"
(stepChanged)="onSubmit()"
></app-toolbar>


<ion-content [fullscreen]="true">
  <ion-card class="ion-text-center">
  <ion-card-content class="ion-align-self-center">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <div class="img-container">
            <ion-img
              src="assets/image/Oink-M.svg"
              alt="icon"
            ></ion-img>
          </div>
        </ion-col>
        <ion-col size="9">
          <ion-item lines="none">
            <ion-label class="phone-card-title"
              >Para comenzar, por favor ingresa <strong>tu número celular</strong></ion-label
            >
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
<mat-divider class="line"></mat-divider>
  <ion-content collapse="condense">
    <form [formGroup]="phoneNumber" (ngSubmit)="onSubmit()">

      <mat-form-field class="full-width" appearance="fill">
            <mat-label slot="start">Numero</mat-label>
            <input matInput type="tel" formControlName="phoneNumber" name="phoneNumber" placeholder="(XXX-XXXXXXX)">
            <mat-error *ngIf="phoneNumber.get('phoneNumber')?.invalid && phoneNumber.get('phoneNumber')?.touched">
              Por favor ingresa un número válido de 10 dígitos.
            </mat-error>
      </mat-form-field>
      <div>
        <button mat-button class="full-width custom-button" type="submit" [disabled]="!phoneNumber.valid"  >
          <ng-container *ngIf="!loading">Next</ng-container>
          <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
</button>
      </div>
    </form>
   <div class="container">
   </div>
  </ion-content>
</ion-content>
