.toolbar-title{
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.8;
  text-transform: uppercase;
  --color: #004B40;
  text-align: center;
}

.line{
  margin: 5px 15px 10px 15px;
  border-bottom: 2px solid #1EEB00;
}

.full-width{
  width: 100%;
}
.title{
  font-family:"Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.8;
  text-transform: uppercase;
  color: #004B40;
  margin: 0 0 0 15px;
}
ion-img{
  width: 140px;
  height: 140px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}

.ion-card {
  margin: 0;
}

.data-card-title,
.data-card-subtitle {
  text-align: left;
}

.dataTitle{
  font-family: "Maven Pro", sans-serif;
  color: #757575;
  font-size: 16px;
  text-align: left;
  text-align: justify;
  line-height: 1.5;
}


.button-submit button{
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 800;
  display: flex;
  line-height: 1.8;
  justify-content: center;
  width: 90%;
  border-radius: 2rem;
  margin: 0 0 0 20px;
}

.custom-button[disabled] {
  background-color: rgb(228, 228, 228);
  color: white;
}

.custom-button:not([disabled]) {
  background-color: #1EEB00;
  color: #004B40;
}
