@charset"UTF-8";
@font-face {
  font-family: 'Avenir LT Std 55 Roman';
  src: url('/assets/font/AvenirLTStd-Roman.otf') format('opentype');
}

.data-title{
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  line-height: 1.9;
  text-transform: uppercase;
  --color: #004B40;
  text-align: left;
}

.line{
  margin: 5px 15px 10px 15px;
  border-bottom: 2px solid #1EEB00;
}
mat-label{
  font-family: 'Avenir LT Std 55 Roman';
  color: #757575;
  font-size: 12pt;
  line-height: 1.9;
  text-align: left;


}
.full-width{
  width: 100%;
}
.title{
  font-family:"Montserrat", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  line-height: 1.9;
  text-transform: uppercase;
  color: #004B40;
  margin: 0 0 60px 0px;
}
ion-img{
  width: 72.35pt;
  height: 77.07pt;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ion-card {
  margin: 0;
}

.cardTitle{
  font-family: 'Avenir LT Std 55 Roman';
  color: #757575;
  font-size: 16pt;
  text-align: left;
  text-align: justify;
  line-height: 1.5;
}

.button-submit button{
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  display: flex;
  line-height: 1.8;
  justify-content: center;
  width: 100%;
  border-radius: 2rem;
  margin: 30px 0 0 0;
  padding: 15px 0;
}

.custom-button[disabled] {
  background-color: rgb(228, 228, 228);
  color: white;
}

.custom-button:not([disabled]) {
  background-color: #1EEB00;
  color: #004B40;
}

@media only screen and (min-width: 360px) and (max-width: 475px) {
  .title{
    font-size: 14pt;
    line-height: 1.0;
  }
  .cardTitle{
    font-size: 12pt;
  }
  .data-title{
    font-size: 14pt;
    line-height: 1.5;
  }
  ion-img{
    width: 60.35pt;
    height: 67.07pt;
    margin-top: 20px;
  }
  mat-label{
    font-size: 10pt;
  }
  .button-submit button{
    font-size: 14pt;
  }
}
