.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50%;
  margin-top: 20%;
}
img{
  width: 100%;
  height: 100%;
}
.title{
  text-align: center;
  color:#1EEA00 ;
  font-family: "Montserrat", sans-serif;
  font-size: 18pt;
  font-weight: bold;
  line-height: 2.4;

}

.register{
  --background: #1EEA00;
  --color: #004B40;
  --background-hover:var(--background);
  --transition: background-color 0.3s;
  --background-activated:var(--background);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  font-weight: bold;
  line-height: 1.8;
  margin: 30% 0 5% 0;
}

.login{
  --background: #004B40;
  --color: #FFFFFF;
  --background-hover:var(--background);
  --transition: background-color 0.3s;
  --background-activated:var(--background);
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 16pt;
  font-weight: semibold;
  line-height: 1.8;
  text-align: center;
}

@media only screen and (min-width: 360px) and (max-width: 475px) {
  .title{
    font-size: 16pt;
    font-weight: bold;
    line-height: 1.5;
    margin: 15% 0 0 0;
  }
  .register{
    font-size: 14pt;
    font-weight: bold;
    margin: 40% 0 5% 0;
  }
  .login{
    font-size: 14pt;
    font-weight: semibold;
  }
}
