
<ion-content padding>
  <div class="container">
    <div class="image">
      <img src="assets/image/coink.png" alt="">
    </div>
    <div>
      <h1 class="title">LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA</h1>
    </div>
  </div>
  <div class="container">
    <ion-button class="register" type="root" expand="block" shape="round" (click)="navigateToNextPage()" >
      <ng-container *ngIf="!loading" >
        Registrate
      </ng-container>

      <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
    </ion-button>
    <ion-button class="login" type="root" expand="block" shape="round">ingresa</ion-button>
  </div>

</ion-content>


